@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply p-4;
    }

    label svg {
        position: relative;
        width: 20px;
        z-index: 100;
    }

    /* Updated table-specific styles */
    table {
        @apply w-full text-textColor-secondary;
    }

    th,
    td {
        @apply cursor-default border border-textColor-secondary px-4 py-2 text-left text-sm;
    }

    thead {
        @apply bg-textColor-primary;
    }

    th {
        @apply font-semibold tracking-wide;
    }

    tbody tr:hover {
        @apply bg-textColor-primary/10;
    }

    tbody tr:last-child td {
        @apply border-b-0;
    }

    Link {
        @apply flex items-center gap-2 px-3 py-2 text-base font-light text-textColor-secondary hover:bg-textColor-primary hover:no-underline;
    }

    .resizer.isResizing {
        background: blue;
        opacity: 1;
    }

    /* Hide scrollbar for Chrome, Safari and Opera  */
    #home-dashboard-stats-grid::-webkit-scrollbar,
    #home-dashboard-recent-transactions::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    #home-dashboard-stats-grid,
    #home-dashboard-recent-transactions {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    :root {
        --color-bg-primary: 255 255 255;
        --color-bg-secondary: 237 242 247;
        --color-text-primary: 226 177 60;
        --color-text-secondary: 32 32 32;
        --color-text-accent: 43 108 176;
    }

    [data-theme='dark'] {
        --color-bg-primary: 22 25 30;
        --color-bg-secondary: 25 29 36;
        --color-text-primary: 226 177 60;
        --color-text-secondary: 226 232 240;
        --color-text-accent: 129 230 217;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border-bottom-width: 2px;
        border-color: rgb(var(--color-text-secondary));
        -webkit-text-fill-color: rgb(var(--color-text-primary));
        -webkit-box-shadow: 0 0 0px 1000px rbg(var(--color-bg-primary)) inset;
        box-shadow: 0 0 0px 1000px rgb(var(--color-bg-primary)) inset;
        transition: background-color 5000s ease-in-out 0s;
        color: rgb(var(--color-text-primary));
    }
}

@layer components {
    .primary-button {
        @apply h-10 w-40 transform rounded-full border border-textColor-primary bg-textColor-primary px-5 py-2 text-textColor-secondary transition-colors duration-300 hover:bg-transparent hover:text-textColor-primary;
    }
    .secondary-button {
        @apply border-none bg-transparent text-textColor-primary hover:text-textColor-secondary;
    }
    .resizer {
        @apply absolute right-0 top-0 h-full w-1 cursor-col-resize touch-none select-none bg-textColor-secondary opacity-0 hover:opacity-100;
    }
}
